<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Esto es el repaso de Express</h1>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/users/register">Registrarse</a>
                </li>
                <li>
                    <a href="/users/login">Login</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- IMAGEN -->
        <img src="/images/node.jpg" alt="Logo" style="width: 70%;">
    </main>
    
</body>
</html>