<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>

</head>
<body>

    <%- include('./partials/header.ejs') %>

    <main>
        <!-- IMAGEN -->
        <img src="/images/node.jpg" alt="Logo">
        <!-- TODO mostrar lista de usuarios (condicional) Boton para eliminar o editar -->
    </main>
    
</body>
</html>